<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <title>Mongo Article Scraper</title>

</head>

<body>
  <header>
    {{!-- Nav Menu --}}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:rgb(125, 195, 241);">
      <h3>Mongo Scraper</h3>
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/saved">Saved Articles</a>
      {{!-- <a class="nav-link" href="/articles">Articles API</a> --}}
      <a class="nav-link-scrape" href="/scrape" data-toggle="modal" data-target="#exampleModal">SCRAPE NEW ARTICLES</a>
    </nav>

    <h1>Handlebars Main Page</h1>
    {{!-- Background --}}
    <div id="intro" class="view">
      <div class="mask rgba-black-strong">
        <div class="container-fluid d-flex align-items-center justify-content-center h-100">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-md-10">

              <!-- Heading -->
              <h2 class="display-4 font-weight-bold pt-5 mb-2">MONGO SCRAPER</h2>

              <!-- Divider -->
              <hr class="hr-light">

              <!-- Description -->
              <h4 class="my-4">New York Times Edition</h4>

            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Content --}}
  {{{ body }}}
</body>

</html>
