<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mongo Scraper</title>
</head>

<body>
  <h1>Mongo Scraper Page</h1>

  {{!-- List Articles --}}
  <div id="articles-container">
    <h2>Articles List</h2>
    <div id="article"></div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="articles.js"></script>
</body>

</html>
