<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mongo Scraper</title>
</head>

<body>
  {{!-- List Articles --}}
  <div id="articles-container">
    <div id="article"></div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/articles.js"></script>
  <link rel="stylesheet" href="/assets/css/index.css" type="text/css" />
</body>

</html>
