<h1>Saved Page</h1>


{{!-- Saved Articles --}}
<div id="save-articles-container">
  <h2>Saved Articles</h2>
  <div id="saved-article"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/save.js"></script>
