html,
body,
header,
#intro {
  height: 90%;
}

#intro {
  background: url("../img/nytimes.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;

}



.top-nav-collapse {
  background-color: #24355C;
}

.description-container h4 {
  color: white;
  font-size: 3rem;
}


h3 {
  padding-right: .75rem;
}

h3,
.navbar,
.nav-link {
  color: white;
}

.navbar,
.nav-link:hover {
  color: rgb(125, 195, 241);
  background-color: white;
}

.nav-link-scrape {
  background-color: red;
  color: white;
  padding: .5rem;
}
